/*!***************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/scss/screen.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************/
@media screen and (max-width: 767.98px) {
  .row-sm-center {
    justify-content: center;
  }
}
.mb-0 {
  margin-bottom: 0;
}

.wp-block-group.mb-0 {
  margin-bottom: 0 !important;
}

.single-content .wp-block-cover {
  margin-bottom: 0 !important;
}

#mobile-drawer .menu-toggle-close {
  position: absolute;
  top: 25px;
}
#mobile-drawer #mobile-menu .drawer-sub-toggle {
  position: absolute;
  right: 0;
  top: 20%;
}
#mobile-drawer #mobile-menu .sub-menu {
  padding-left: 0;
}
#mobile-drawer #mobile-menu .sub-menu li {
  font-size: 14px;
  font-weight: normal;
}
#mobile-drawer .mobile-header-button-wrap {
  width: 100%;
}
#mobile-drawer .mobile-header-button-wrap .button {
  width: 100%;
}

@media screen and (max-width: 991.98px) {
  #footer-navigation .menu {
    flex-direction: column;
  }
}

.module-sign-up1 {
  position: relative;
}
.module-sign-up1 .eb-wrapper-inner-blocks {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.module-sign-up1 .eb-form-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}
.module-sign-up1 .eb-form-wrapper .eb-form {
  margin-top: 0;
  margin-bottom: 0;
}
.module-sign-up1 .eb-form-wrapper .eb-form .eb-form-validation {
  color: #fff !important;
}
.module-sign-up1 .eb-form-wrapper .eb_form_submit_response {
  font-size: 14px !important;
}
.module-sign-up1 .eb-form-wrapper .eb_form_submit_response:not(.show) {
  display: none;
}
@media screen and (min-width: 576px) {
  .module-sign-up1 .eb-wrapper-inner-blocks {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .module-sign-up1 {
    position: absolute !important;
    display: inline-flex;
    z-index: 100;
    margin-left: 0;
    margin-right: auto;
    left: 20%;
    right: 0;
    bottom: -115px;
  }
}
@media screen and (max-width: 991.98px) {
  .module-sign-up1 .eb-wrapper-outer {
    padding: 40px 30px 20px !important;
  }
}
@media screen and (max-width: 575.98px) {
  .module-sign-up1 .wp-block-group {
    width: 100%;
  }
  .module-sign-up1 .wp-block-group .eb-advance-heading-wrapper {
    width: 100%;
  }
  .module-sign-up1 .eb-form-wrapper {
    padding-top: 15px !important;
  }
  .module-sign-up1 .eb-form-wrapper .eb-form {
    flex-direction: column;
    gap: 15px;
  }
  .module-sign-up1 .eb-form-wrapper .eb-form .btn {
    width: 100% !important;
  }
}

@media screen and (max-width: 1219px) {
  .section-safety-and-rescue .eb-row-root-container {
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  .section-safety-and-rescue .eb-row-root-container {
    background-image: none;
  }
}
@media screen and (max-width: 991.98px) {
  .section-safety-and-rescue .eb-row-root-container {
    background-size: contain !important;
  }
  .section-safety-and-rescue .eb-row-root-container:before {
    background-image: linear-gradient(180deg, rgb(14, 27, 35) 30%, rgba(191, 31, 68, 0) 40%) !important;
  }
}

.module-custom-carousel .ebpg-post-carousel-column {
  min-height: 230px;
}
@media screen and (min-width: 1200px) {
  .module-custom-carousel .slick-list.draggable {
    overflow: visible !important;
  }
  .module-custom-carousel .slick-list.draggable:before {
    content: "";
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 91%;
    position: absolute;
    top: 10px;
    left: -100%;
    width: 99%;
    z-index: 100;
  }
  .module-custom-carousel .slick-list.draggable:after {
    content: "";
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 91%;
    position: absolute;
    top: 10px;
    right: -100%;
    width: 99%;
    z-index: 100;
  }
}

/*# sourceMappingURL=screen.css.map*/