#mobile-drawer {
  .menu-toggle-close {
    position: absolute;
    top: 25px;
  }

  #mobile-menu {
    .drawer-sub-toggle {
      position: absolute;
      right: 0;
      top: 20%;
    }

    .sub-menu {
      padding-left: 0;
      li {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .mobile-header-button-wrap {
    width: 100%;

    .button {
      width: 100%;
    }
  }
}
